USE [Eticaret]
GO
/****** Object:  Table [dbo].[Alt_Kategoriler]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alt_Kategoriler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Kategori_Adi] [varchar](250) NULL,
	[Ana_Kategori_Id] [int] NULL,
	[Durum] [int] NULL,
	[KDV] [int] NULL,
 CONSTRAINT [PK_Alt_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiAyarlari]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiAyarlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](200) NULL,
	[Kod] [text] NULL,
 CONSTRAINT [PK_ApiAyarlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoriler]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[EklenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Kategori_Adi] [varchar](250) NULL,
	[Durum] [int] NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullaniciAdresleri]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciAdresleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[AdresBasligi] [nvarchar](50) NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Sehir] [nvarchar](50) NULL,
	[Ilce] [nvarchar](50) NULL,
	[TamAdres] [nvarchar](max) NULL,
	[PostaKodu] [nvarchar](10) NULL,
	[IsDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Sifre] [nvarchar](max) NULL,
	[Telefon] [nvarchar](20) NULL,
	[KayitTarihi] [datetime] NULL,
	[Durum] [bit] NULL,
	[GoogleId] [nvarchar](max) NULL,
	[OnayKodu] [nvarchar](6) NULL,
	[Adres] [nvarchar](max) NULL,
	[Sehir] [nvarchar](50) NULL,
	[Ilce] [nvarchar](50) NULL,
	[PostaKodu] [nvarchar](10) NULL,
	[PasswordResetToken] [nvarchar](max) NULL,
	[ResetTokenExpires] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kuponlar]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kuponlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KuponKodu] [nvarchar](50) NOT NULL,
	[IndirimOrani] [int] NOT NULL,
	[KullanimLimiti] [int] NOT NULL,
	[KullanilanAdet] [int] NULL,
	[BitisTarihi] [datetime] NOT NULL,
	[Durum] [bit] NULL,
	[TanimliMail] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Markalar]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markalar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Marka_Ad] [varchar](250) NULL,
 CONSTRAINT [PK_Markalar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici_Id] [int] NULL,
	[Urun_Id] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[Toplam_Fiyat] [decimal](18, 2) NULL,
	[Siparis_Tarihi] [datetime] NULL,
	[Durum] [nvarchar](50) NULL,
	[GuestId] [nvarchar](max) NULL,
	[IadeNedeni] [nvarchar](max) NULL,
	[TalepTarihi] [datetime] NULL,
	[MisafirAdSoyad] [nvarchar](250) NULL,
	[MisafirEmail] [nvarchar](100) NULL,
	[MisafirTelefon] [nvarchar](20) NULL,
	[MisafirAdres] [nvarchar](500) NULL,
	[SiparisNo] [nvarchar](50) NULL,
	[IndirimOrani] [int] NULL,
	[UygulananKupon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteAyarlari]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteAyarlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Site_Adi] [nchar](10) NULL,
	[Logo] [text] NULL,
	[Harita] [text] NULL,
	[Tel] [varchar](13) NULL,
	[Whatsapp] [varchar](13) NULL,
	[Mail] [varchar](100) NULL,
	[Adres] [text] NULL,
	[Facebook] [text] NULL,
	[Instagram] [text] NULL,
	[Twitter] [text] NULL,
	[Tiktok] [text] NULL,
	[Linkedin] [text] NULL,
	[Youtube] [text] NULL,
	[Pinteret] [text] NULL,
 CONSTRAINT [PK_SiteAyarlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[ResimYolu] [nvarchar](max) NULL,
	[Sira] [int] NULL,
	[Aktif] [bit] NULL,
	[Link] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sozlesmeler]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sozlesmeler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[Icerik] [nvarchar](max) NOT NULL,
	[SozlesmeTipi] [int] NOT NULL,
	[GuncellenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StokHareketleri]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokHareketleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[EskiAlisFiyat] [decimal](18, 2) NULL,
	[YeniAlisFiyat] [decimal](18, 2) NULL,
	[AdetDegisimi] [int] NULL,
	[IslemTipi] [nvarchar](100) NULL,
	[KayitTarihi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urun_Foto]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun_Foto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [text] NULL,
	[Urun_Id] [int] NULL,
 CONSTRAINT [PK_Urun_Foto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urun_Yorumlari]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun_Yorumlari](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici_Id] [int] NULL,
	[Urun_Id] [int] NULL,
	[Yorum] [text] NULL,
	[Puan] [int] NULL,
 CONSTRAINT [PK_Urun_Yorumlari] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Urun_Adi] [varchar](250) NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[Indirimli_Fiyat] [decimal](18, 2) NULL,
	[Aciklama] [text] NULL,
	[Marka_Id] [int] NULL,
	[Kategori_Id] [int] NULL,
	[Foto_Id] [int] NULL,
	[Yorum_Id] [int] NULL,
	[AlisFiyati] [decimal](18, 2) NULL,
	[KritikStok] [int] NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yoneticiler]    Script Date: 3/24/2026 4:37:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yoneticiler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[users] [varchar](50) NULL,
	[pass] [nchar](64) NULL,
	[statu_id] [int] NULL,
	[durum] [int] NULL,
	[is_active] [int] NULL,
	[son_giris] [datetime] NULL,
	[info_id] [int] NULL,
 CONSTRAINT [PK_Yoneticiler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alt_Kategoriler] ON 

INSERT [dbo].[Alt_Kategoriler] ([id], [Kategori_Adi], [Ana_Kategori_Id], [Durum], [KDV]) VALUES (2, N'MasaÜstü', 9, 0, NULL)
INSERT [dbo].[Alt_Kategoriler] ([id], [Kategori_Adi], [Ana_Kategori_Id], [Durum], [KDV]) VALUES (3, N'yenilll', 10, 1, NULL)
SET IDENTITY_INSERT [dbo].[Alt_Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[ApiAyarlari] ON 

INSERT [dbo].[ApiAyarlari] ([Id], [Ad], [Kod]) VALUES (2, N'wesrdft', N'awsedrtf')
INSERT [dbo].[ApiAyarlari] ([Id], [Ad], [Kod]) VALUES (3, N'wesrdft', N'saS')
SET IDENTITY_INSERT [dbo].[ApiAyarlari] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([Id], [FullName], [Email], [Subject], [Message], [IsRead], [CreatedAt]) VALUES (1, N'beyza', N'beyzakblt@gmail.com', N'konu', N'qwq', 1, CAST(N'2026-03-09T15:20:44.253' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Favoriler] ON 

INSERT [dbo].[Favoriler] ([Id], [KullaniciId], [UrunId], [EklenmeTarihi]) VALUES (6, 7, 4, CAST(N'2026-03-12T22:34:22.007' AS DateTime))
INSERT [dbo].[Favoriler] ([Id], [KullaniciId], [UrunId], [EklenmeTarihi]) VALUES (8, 7, 3, CAST(N'2026-03-23T14:25:22.203' AS DateTime))
INSERT [dbo].[Favoriler] ([Id], [KullaniciId], [UrunId], [EklenmeTarihi]) VALUES (9, 7, 6, CAST(N'2026-03-23T14:25:23.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[Favoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([id], [Kategori_Adi], [Durum]) VALUES (9, N'Bilgisayar', NULL)
INSERT [dbo].[Kategoriler] ([id], [Kategori_Adi], [Durum]) VALUES (10, N'Tablet', NULL)
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[KullaniciAdresleri] ON 

INSERT [dbo].[KullaniciAdresleri] ([Id], [KullaniciId], [AdresBasligi], [AdSoyad], [Telefon], [Sehir], [Ilce], [TamAdres], [PostaKodu], [IsDefault]) VALUES (1, 7, N'ev', N'beyza akbulut', N'123', N'İSTANBUL', N'bahçelievler', N'İNÖNÜ MAHALLESİ 386. SOKAK NO:2 DAİRE:3 BAĞCILAR/İSTANBUL', NULL, 1)
INSERT [dbo].[KullaniciAdresleri] ([Id], [KullaniciId], [AdresBasligi], [AdSoyad], [Telefon], [Sehir], [Ilce], [TamAdres], [PostaKodu], [IsDefault]) VALUES (2, 7, N'evt', N'rt', N'43', N'İSTANBUL', N'bakırköy', N'İNÖNÜ MAHALLESİ 386. SOKAK NO:2 DAİRE:3 BAĞCILAR/İSTANBUL', NULL, 0)
INSERT [dbo].[KullaniciAdresleri] ([Id], [KullaniciId], [AdresBasligi], [AdSoyad], [Telefon], [Sehir], [Ilce], [TamAdres], [PostaKodu], [IsDefault]) VALUES (3, 7, N'sa', N'sa', N'21', N'İSTANBUL', N'Seçinizbaa', N'İNÖNÜ MAHALLESİ 386. SOKAK NO:2 DAİRE:3 BAĞCILAR/İSTANBUL', NULL, 0)
SET IDENTITY_INSERT [dbo].[KullaniciAdresleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([Id], [AdSoyad], [Email], [Sifre], [Telefon], [KayitTarihi], [Durum], [GoogleId], [OnayKodu], [Adres], [Sehir], [Ilce], [PostaKodu], [PasswordResetToken], [ResetTokenExpires]) VALUES (7, N'beyza akbulut', N'beyzakblt@gmail.com', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'1234', CAST(N'2026-02-27T19:42:59.533' AS DateTime), 1, NULL, NULL, N'İNÖNÜ MAHALLESİ 386. SOKAK NO:2 DAİRE:3 BAĞCILAR/İSTANBUL', N'İSTANBUL', N'bağcılar', N'34200', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kuponlar] ON 

INSERT [dbo].[Kuponlar] ([Id], [KuponKodu], [IndirimOrani], [KullanimLimiti], [KullanilanAdet], [BitisTarihi], [Durum], [TanimliMail]) VALUES (5, N'BEYZA20', 20, 1, 0, CAST(N'2026-03-25T15:20:00.000' AS DateTime), 1, N'beyzakblt@gmail.com')
SET IDENTITY_INSERT [dbo].[Kuponlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([Id], [Kullanici_Id], [Urun_Id], [Adet], [Toplam_Fiyat], [Siparis_Tarihi], [Durum], [GuestId], [IadeNedeni], [TalepTarihi], [MisafirAdSoyad], [MisafirEmail], [MisafirTelefon], [MisafirAdres], [SiparisNo], [IndirimOrani], [UygulananKupon]) VALUES (1, 7, 3, 1, CAST(23.00 AS Decimal(18, 2)), CAST(N'2026-02-27T20:05:51.980' AS DateTime), N'İptal Edildi', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Siparisler] ([Id], [Kullanici_Id], [Urun_Id], [Adet], [Toplam_Fiyat], [Siparis_Tarihi], [Durum], [GuestId], [IadeNedeni], [TalepTarihi], [MisafirAdSoyad], [MisafirEmail], [MisafirTelefon], [MisafirAdres], [SiparisNo], [IndirimOrani], [UygulananKupon]) VALUES (2, 7, 4, 1, CAST(72999.99 AS Decimal(18, 2)), CAST(N'2026-02-27T20:05:55.433' AS DateTime), N'Kargoya Verildi', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Siparisler] ([Id], [Kullanici_Id], [Urun_Id], [Adet], [Toplam_Fiyat], [Siparis_Tarihi], [Durum], [GuestId], [IadeNedeni], [TalepTarihi], [MisafirAdSoyad], [MisafirEmail], [MisafirTelefon], [MisafirAdres], [SiparisNo], [IndirimOrani], [UygulananKupon]) VALUES (3, 7, 3, 1, CAST(23.00 AS Decimal(18, 2)), CAST(N'2026-02-27T20:08:42.987' AS DateTime), N'Teslim Edildi', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[SiteAyarlari] ON 

INSERT [dbo].[SiteAyarlari] ([Id], [Site_Adi], [Logo], [Harita], [Tel], [Whatsapp], [Mail], [Adres], [Facebook], [Instagram], [Twitter], [Tiktok], [Linkedin], [Youtube], [Pinteret]) VALUES (1, NULL, N'/img/e56b78b1-9d27-4fc8-8593-5847eb48327a.png', N'sadsfxfcg', N'123456', N'0000000000', N'beyza@gmail.com', N'dkajfıjıfejşsıjdfoş', N'asdfgh', N'adsd', N'asdfghj', N'asdfgh', N'asdfgh', N'asdfg', N'asdfgh')
SET IDENTITY_INSERT [dbo].[SiteAyarlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([Id], [Baslik], [Aciklama], [ResimYolu], [Sira], [Aktif], [Link]) VALUES (3, NULL, NULL, N'/img/slider/49d03ec7-fdbe-415a-ac97-b2aa4b5b3810.jpg', 2, 1, NULL)
INSERT [dbo].[Slider] ([Id], [Baslik], [Aciklama], [ResimYolu], [Sira], [Aktif], [Link]) VALUES (4, NULL, NULL, N'/img/slider/79dda32f-05af-4e4d-a0f4-1911e40f42e0.jpg', 3, 1, NULL)
INSERT [dbo].[Slider] ([Id], [Baslik], [Aciklama], [ResimYolu], [Sira], [Aktif], [Link]) VALUES (6, NULL, NULL, N'/img/slider/71b5cbbd-349e-4ff0-a1ca-facaa9c0ae3d.png', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[Sozlesmeler] ON 

INSERT [dbo].[Sozlesmeler] ([Id], [Baslik], [Icerik], [SozlesmeTipi], [GuncellenmeTarihi]) VALUES (3, N'asasa', N'<p>ssss</p>', 2, CAST(N'2026-02-25T20:20:09.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sozlesmeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urun_Foto] ON 

INSERT [dbo].[Urun_Foto] ([id], [Ad], [Urun_Id]) VALUES (2, N'/img/urunler/03a05259-1863-45ed-b30f-ec69d1de825d.png', 3)
INSERT [dbo].[Urun_Foto] ([id], [Ad], [Urun_Id]) VALUES (3, N'/img/urunler/2d4c2e23-9787-4e6f-8c27-4da2b6b1d848.png', 3)
INSERT [dbo].[Urun_Foto] ([id], [Ad], [Urun_Id]) VALUES (4, N'/img/urunler/14a73375-8708-4b1f-a5bd-2f6932249ce1.png', 3)
SET IDENTITY_INSERT [dbo].[Urun_Foto] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([id], [Urun_Adi], [Adet], [Fiyat], [Indirimli_Fiyat], [Aciklama], [Marka_Id], [Kategori_Id], [Foto_Id], [Yorum_Id], [AlisFiyati], [KritikStok]) VALUES (3, N'qwer', 0, CAST(23.00 AS Decimal(18, 2)), CAST(23.00 AS Decimal(18, 2)), N'asdrf', NULL, 9, NULL, NULL, NULL, NULL)
INSERT [dbo].[Urunler] ([id], [Urun_Adi], [Adet], [Fiyat], [Indirimli_Fiyat], [Aciklama], [Marka_Id], [Kategori_Id], [Foto_Id], [Yorum_Id], [AlisFiyati], [KritikStok]) VALUES (4, N'iPhone 15 Pro', 45, CAST(75000.00 AS Decimal(18, 2)), CAST(72999.99 AS Decimal(18, 2)), N'128 GB Naturel Titanyum', NULL, 9, NULL, NULL, NULL, NULL)
INSERT [dbo].[Urunler] ([id], [Urun_Adi], [Adet], [Fiyat], [Indirimli_Fiyat], [Aciklama], [Marka_Id], [Kategori_Id], [Foto_Id], [Yorum_Id], [AlisFiyati], [KritikStok]) VALUES (5, N'Samsung S24 Ultra', 30, CAST(68000.00 AS Decimal(18, 2)), CAST(65500.00 AS Decimal(18, 2)), N'Yapay zeka destekli telefon', NULL, 9, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yoneticiler] ON 

INSERT [dbo].[Yoneticiler] ([id], [users], [pass], [statu_id], [durum], [is_active], [son_giris], [info_id]) VALUES (1, N'admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Yoneticiler] ([id], [users], [pass], [statu_id], [durum], [is_active], [son_giris], [info_id]) VALUES (2, N'beyza', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 1, 1, 1, CAST(N'2026-03-09T20:27:37.733' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Yoneticiler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__A9D10534DDDC8A10]    Script Date: 3/24/2026 4:37:30 PM ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kuponlar__F552D46F673DD59E]    Script Date: 3/24/2026 4:37:30 PM ******/
ALTER TABLE [dbo].[Kuponlar] ADD UNIQUE NONCLUSTERED 
(
	[KuponKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Favoriler] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[KullaniciAdresleri] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Kuponlar] ADD  DEFAULT ((0)) FOR [KullanilanAdet]
GO
ALTER TABLE [dbo].[Kuponlar] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ((1)) FOR [Adet]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [Siparis_Tarihi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Hazırlanıyor') FOR [Durum]
GO
ALTER TABLE [dbo].[Slider] ADD  DEFAULT ((0)) FOR [Sira]
GO
ALTER TABLE [dbo].[Slider] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Sozlesmeler] ADD  DEFAULT (getdate()) FOR [GuncellenmeTarihi]
GO
ALTER TABLE [dbo].[StokHareketleri] ADD  DEFAULT ((0)) FOR [EskiAlisFiyat]
GO
ALTER TABLE [dbo].[StokHareketleri] ADD  DEFAULT ((0)) FOR [YeniAlisFiyat]
GO
ALTER TABLE [dbo].[StokHareketleri] ADD  DEFAULT ((0)) FOR [AdetDegisimi]
GO
ALTER TABLE [dbo].[StokHareketleri] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
